@charset "utf-8";

/*common .css   header, footer 서식*/

:root{
  --m_bt_color:#fff;
  --m_font:"Noto Sans KR";
  --f_size_base: 12px;
  --f_size14 : 14px;
  --f_size16 : 16px;
  --f_color1 : #333;
  --f_color2 : #006eff;
  --s_color1 : #215499;
  --s_color2 : #042653;
  --s_color3 : #2986A7;
}

header{
  position: absolute;
  width: 100%; height: 70px;
  z-index: 1000;
}
header > h1{
  padding: 24px 0px 0px 2%;
}
/*스크롤시 고정되는 헤더 서식*/
.h_act{
  position: fixed; top: 0px; left: 0px;
  z-index: 2000;
  background: rgba(255,255,255,.8) !important;
}
.h_act a, .h_act i{color: var(--f_color1) !important;}

/* html,body{scroll-behavior: smooth;} */

/*내비게이션*/
.gnb {
  width: 600px;
  margin: -21px auto;
  /* transform: translateY(-21px); */
  /* position: relative;  top:-21px;*/
}
.gnb > ul{
  display: flex;
  justify-content: space-around;

}

.gnb > ul > li>a{
  color: var(--m_bt_color);
  font-size: 1.2rem;
}
.gnb > ul > li>a:hover{text-decoration: underline;}

header i.fas{
  color: var(--m_bt_color);
  position: absolute; top: 22px;
  font-size: 1.6rem;
  cursor: pointer;
}
.fa-user{right: 5%;}
.fa-bell{right: 2%;}

/*동그라미 내비게이션 m_nav*/

#m_nav{
  position: fixed;
  right: 20px; top: 42%;
  z-index: 1000;
  width: 10px; height: 160px;
  
}
#m_nav > ul{position: relative;}
/* #m_nav > ul > li:first-child{}
#m_nav > ul > li:nth-child(2){top: 50px;}
#m_nav > ul > li:nth-child(3){top: 100px;}
#m_nav > ul > li:nth-child(4){top: 150px;}
#m_nav > ul > li:last-child{top: 200px;} */

#m_nav > ul > li{
  width: 40px; height: 40px;
  border-radius: 40px;
  line-height: 40px;
  transition: 0.5s;
  background: rgb(74, 189, 255);
  /* position: absolute;right: 0px; */
  margin-top: 10px;
  transform: translateX(-100%);
  overflow: hidden;
}
#m_nav > ul > li > span{
  display: inline-block;
  width: 40px; height: 40px;
  border-radius: 50%;
  background: var(--s_color2);
  color: var(--m_bt_color);
  text-align: center;
  font-weight: bold;
}
#m_nav > ul > li:hover {width: 200px;}
#m_nav > ul > li:hover span{
  background: var(--s_color1);

}
#m_nav > ul > li > a{
  font-size: var(--f_size16);
  color: var(--m_bt_color);
  padding-left: 40px;
  line-height: 160%;
}



/*푸터 서식*/
footer{
  background: var(--f_color1);
  padding: 40px 0px;
  height: 100px;
}
.f_inner{
  width: 1200px;
  margin: 0px auto;
}
footer h2{
  float: left;
  padding-top: 10px;
  width: 150px; height: 60px;
}
footer h2 img{width: 100%;}
.f_lnb{float: left;}
.f_lnb > ul{display: flex; padding-top: 15px;}
.f_lnb a{
  color: #949494; 
  padding: 0px 20px; 
  border-right: 1px solid #727272;
}
.f_lnb li:last-child a{border: none;}
.f_lnb li:nth-child(2) a{color: #dddddd;}
address{
  clear: left;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 160px;
  color: var(--m_bt_color);
}

address dt, address dd{
  display: inline-block;
}